[run]
concurrency = thread,gevent
omit =
    */__init__.py
    main.py
    */data/*
    */models/*
    */schemas/*
    */tests/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
