.DS_Store
.git/
.github/
.pytest_cache/
.venv/
.vscode/
htmlcov/
postman-collections/
.claude/
CLAUDE.md
.codacy.yml
.coderabbit.yaml
.coverage
.coveragerc
.flake8
.gitignore
.pylintrc
CHANGELOG.md
CODE_OF_CONDUCT.md
codecov.yml
commitlint.config.mjs
CONTRIBUTING.md
coverage.xml
LICENSE
.sonarcloud.properties
/tests/
__pycache__/
*.pyc
*.pyo
*.pyd
