.DS_Store
.git/
.github/
.pytest_cache/
.venv/
.vscode/
htmlcov/
postman-collections/
.codacy.yml
.coverage
.coveragerc
.flake8
.gitignore
.pylintrc
CODE_OF_CONDUCT.md
codecov.yml
commitlint.config.mjs
CONTRIBUTING.md
coverage.xml
LICENSE
/tests/
__pycache__/
*.pyc
*.pyo
*.pyd
