[MASTER]
disable=
    C0111, # missing-docstring
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0301, # line-too-long
    R0903, # too-few-public-methods
    W0718, # broad-exception-caught