asgiref==3.4.1
attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
coverage==5.5
docopt==0.6.2
fastapi==0.68.0
flake8==3.9.2
greenlet==1.1.1
h11==0.12.0
httptools==0.2.0
idna==3.2
iniconfig==1.1.1
mccabe==0.6.1
packaging==21.0
pluggy==1.0.0
py==1.10.0
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==2.12.1
python-dotenv==0.19.0
PyYAML==5.4.1
requests==2.26.0
SQLAlchemy==1.4.22
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
uvloop==0.15.3
watchgod==0.7
websockets==9.1
yarg==0.1.9
